<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Logo Clínica Médica">
            <h1>Clínica Médica</h1>
        </div>
    </header>

    <div class="login-wrapper">
        <div class="login-container">
            <div class="login-image">
                <img src="{{ url_for('static', filename='img/pacientelogin.png') }}" alt="Paciente">
            </div>
            <div class="login-form">
                <h2>LOGIN PACIENTE</h2>
                <form action="{{ url_for('loginpaciente.loginpaciente') }}" method="POST">
                    <div class="input-group">
                        <input type="text" id="username" name="username" placeholder="Usuário" required>
                    </div>
                    <div class="input-group">
                        <input type="password" id="password" name="password" placeholder="Senha" required>
                    </div>
                    <button type="submit">Entrar</button>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Nome do Sistema. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
